/* Top stats bar */
#header-stats {
    background: $panel;
    color: $text;
    border-bottom: solid $panel-darken-3;
    padding: 1 2;
    height: 3;
    text-align: center;
}

/* Listings scroll container */
#listings-container {
    padding: 1 2;
    background: $background;
}

/* Horizontal Listing Card styling */
BusinessCard {
    layout: horizontal;
    background: $surface;
    border: round $background-lighten-2;
    margin-bottom: 1;
    padding: 1 2;
    height: 7; /* Fits 3 lines of text + padding nicely */
}

/* Visually calm hover interaction */
BusinessCard:hover {
    border: round $accent;
    background: $surface-lighten-1;
}

/* Card layout columns */
.card-column {
    height: 100%;
}

.card-info {
    width: 32%;
    content-align: left top;
}

.card-financials {
    width: 33%;
    content-align: left top;
    border-left: solid $panel-darken-3;
    border-right: solid $panel-darken-3;
    padding-left: 2;
    padding-right: 2;
}

.card-desc {
    width: 35%;
    content-align: left top;
    padding-left: 2;
}
